.section.third{
    display: flex;
    justify-content: space-around;
    background-color: #707070;
    text-align: center;
    flex-direction: column;
}
    .third_image{
        border-radius: 100%;
        border: 15px solid	#434343;
        overflow: hidden;
        box-shadow: 0 0 10px #212121;
        margin: 20px auto 20px;
        width: 250px;
        height: 250px;
    }
    .third_image > img{
        width: 250px;
        height: 250px;
    }
    .third_text{
        width: calc( 100% - 30px);
        margin: auto;
    }
    .third_text-title{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .third_text-paragraph{
        margin: 20px 0;
    }
    .third_text-paragraph.negrito{
        font-weight: bold;
    }
    .third_text-paragraph.italico{
        font-style:italic;
    }
@media (min-width: 360px){
    .third_image{
        width: 300px;
        height: 300px;
    }
    .third_image > img{
        width: 300px;
        height: 300px;
    }
}
@media (min-width: 830px){
    .section.third{
        padding-top: 37px;
        padding-bottom: 37px;
        flex-direction: row;
        text-align: initial;
    }
        .third_image{
            width: 350px;
            height: 350px;
        }
        .third_image > img{
            width: 350px;
            height: 350px;
        }
        .third_text{
            width: 50%;
        }
}