.section.third{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #707070;
}
    .third_image{
        border-radius: 100%;
        border: 15px solid	#434343;
        overflow: hidden;
        box-shadow: 0 0 10px #212121;
    }
    .third_text{
        width: 50%;
    }
    .third_text-title{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .third_text-paragraph{
        margin: 20px 0;
    }
    .third_text-paragraph.negrito{
        font-weight: bold;
    }
    .third_text-paragraph.italico{
        font-style:italic;
    }
@media (max-width: 779px){
    .section.third{
        text-align: center;
        flex-direction: column;
    }
        .third_image{
            width: 80%;
            margin: 20px auto 20px;
            width: 400px;
            height: 400px;
        }
        .third_image > img{
            width: 400px;
            height: 400px;
        }
        .third_text{
            width: 100%;
        }
}
@media (min-width: 780px){
    .section.third{
        padding-top: 37px;
        padding-bottom: 37px;
    }
        .third_image{
            width: 350px;
            height: 350px;
        }
        .third_image > img{
            width: 350px;
            height: 350px;
    }
}