.section.second{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 20px;
}
    .second_item{
        text-align: center;
        margin: 15px;
        width: calc(100% - 30px);
    }
    .second_item-image{
        margin: auto;
        border: 10px solid #707271;
        width: 250px;
        height: 150px;
    }
    .second_item-image > img{
        width: 250px;
        height: 150px;
    }
    .second_item-title{
        margin: 10px auto 15px;
        font-size: 30px;
        font-weight: bold;
    }
    .second_item-text{
        width: 100%;
    }
@media (min-width: 360px){
    .second_item-image{
        width: 300px;
        height: 200px;
    }
    .second_item-image > img{
        width: 300px;
        height: 200px;
    }
}
@media (min-width: 830px) {
    .section.second{
        padding: 40px;
        flex-direction: row;
    }
}
@media (min-width: 830px) and (max-width: 1050px){
    .second_item-image{
        width: 230px;
        height: 130px;
    }
    .second_item-image > img{
        width: 230px;
        height: 130px;
    }
}
@media (min-width: 1050px) {
    .second_item-image{
        width: 300px;
        height: 200px;
    }
    .second_item-image > img{
        width: 300px;
        height: 200px;
    }
}