@media (min-width: 150px) and (max-width: 400px){
    .section.first{
        height: 100px;
    }
}
@media (min-width: 400px) and (max-width: 780px){
    .section.first{
        height: 250px;
    }
}
@media (min-width: 780px) and (max-width: 925px){
    .section.first{
        height: 800px;
    }
    .second_item-image{
        width: 200px;
        height: 100px;
    }
    .second_item-image > img{
        width: 200px;
        height: 100px;
    }
    .second_item-text{
        width: 230px;
    }
    .third_image{
        width: 300px;
        height: 300px;
    }
    .third_image > img{
        width: 300px;
        height: 300px;
    }
}
@media (min-width: 925px) and (max-width: 1100px){
    .section.first{
        height: 850px;
    }
    .second_item-image{
        width: 250px;
        height: 150px;
    }
    .second_item-image > img{
        width: 250px;
        height: 150px;
    }
    .second_item-text{
        width: 280px;
    }
    .third_image{
        width: 350px;
        height: 350px;
    }
    .third_image > img{
        width: 350px;
        height: 350px;
    }
}
@media (min-width: 1100px){
    .section.first{
        height: 900px;
    }
    .second_item-image{
        width: 300px;
        height: 200px;
    }
    .second_item-image > img{
        width: 300px;
        height: 200px;
    }
    .second_item-text{
        width: 330px;
    }
    .third_image{
        width: 400px;
        height: 400px;
    }
    .third_image > img{
        width: 400px;
        height: 400px;
    }
}